<!-- Modal -->
<div class="modal fade" [attr.id]="initAlgorithm.algoName+initIndex" tabindex="-1" role="dialog" aria-labelledby="editParameterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editParameterModalLabel">Edit Parameters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="editAlgorithmForm" >
          <div class="form-inline mb-1">
            <input type="hidden" formControlName="name" >
            <div class="form-group">
              <label for="nEstimators">n_estimators</label>
              <input type="number" id="nEstimators" class="form-control mx-sm-3" formControlName="nEstimators"
                     aria-describedby="nEstimatorsHelpLine">
              <small id="nEstimatorsHelpLine" class="text-muted">
                Must be greater than 1.
              </small>
            </div>
          </div>
          <div class="form-inline mb-1">
            <div class="form-group">
              <label for="maxDepth">max_depth</label>
              <input type="number" id="maxDepth" class="form-control mx-sm-3" formControlName="maxDepth"
                     aria-describedby="maxDepthHelpLine">
              <small id="maxDepthHelpLine" class="text-muted">
                ASd
              </small>
            </div>
          </div>
          <div class="form-inline mb-1">
            <div class="form-group">
              <label for="minSamplesSplit">min_samples_split</label>
              <input type="number" id="minSamplesSplit" class="form-control mx-sm-3" formControlName="minSamplesSplit"
                     aria-describedby="minSamplesSplitHelpLine">
              <small id="minSamplesSplitHelpLine" class="text-muted">
                ASd
              </small>
            </div>
          </div>
          <div class="form-inline mb-1">
            <div class="form-group">
              <label for="minSamplesLeaf">min_samples_leaf</label>
              <input type="number" id="minSamplesLeaf" class="form-control mx-sm-3" formControlName="minSamplesLeaf"
                     aria-describedby="minSamplesLeafHelpLine">
              <small id="minSamplesLeafHelpLine" class="text-muted">
                ASd
              </small>
            </div>
          </div>
          <div class="form-inline mb-1">
            <div class="form-group">
              <label for="maxFeatures">max_features</label>
              <select id="maxFeatures" class="custom-select form-control mx-sm-3" formControlName="maxFeatures">
                <option value="auto" selected>auto</option>
                <option value="sqrt">sqrt</option>
                <option value="log2">log2</option>
              </select>
            </div>
          </div>
          <div class="form-inline mb-2">
            <div class="form-group">
              <label for="criterion">criterion</label>
              <select id="criterion" class="custom-select form-control mx-sm-3" formControlName="criterion">
                <option value="gini" selected>gini</option>
                <option value="entropy" >entropy</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <div class="form-group">
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmit()">Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    {{ initAlgorithm.algoName }}
    <button type="button" class="btn btn-success" data-toggle="modal" [attr.data-target]="'#'+initAlgorithm.algoName+initIndex">
      Edit
    </button>
    <!-- <button type="button" class="btn btn-success" (click)="onEdit()">Edit</button> -->
    <button type="button" class="btn btn-danger" (click)="onRemove()">Remove</button>
  </div>
  <div class="card-body">
    <dl class="row">
      <dt>n_estimators: </dt>
      <dd>
        {{ initAlgorithm.nEstimators }}
      </dd>
    </dl>
    <dl class="row">
      <dt >max_depth: </dt>
      <dd *ngIf="initAlgorithm.maxDepth !== null; else HasValue">
        {{ initAlgorithm.maxDepth}}
      </dd>
      <ng-template #HasValue>
        None
      </ng-template>
    </dl>
    <dl class="row">
      <dt class>min_samples_split: </dt>
      <dd>
        {{ initAlgorithm.minSamplesSplit}}
      </dd>
    </dl>
    <dl class="row">
      <dt>min_samples_leaf: </dt>
      <dd>
        {{ initAlgorithm.minSamplesLeaf}}
      </dd>
    </dl>
    <dl class="row">
      <dt>max_features: </dt>
      <dd>
        {{ initAlgorithm.maxFeatures}}
      </dd>
    </dl>
    <dl class="row">
      <dt>criterion: </dt>
      <dd>
        {{ initAlgorithm.criterion}}
      </dd>
    </dl>
  </div>
</div>
