<div class="card">
  <div class="card-header">
    {{ initAlgorithm.algoName }}
  </div>
  <div class="card-body">
    <dl class="row">
      <dt>n_estimators: </dt>
      <dd>
        {{ initAlgorithm.nEstimators }}
      </dd>
    </dl>
    <dl class="row">
      <dt >max_depth: </dt>
      <dd *ngIf="initAlgorithm.maxDepth !== null; else HasValue">
        {{ initAlgorithm.maxDepth}}
      </dd>
      <ng-template #HasValue>
        None
      </ng-template>
    </dl>
    <dl class="row">
      <dt class>min_samples_split: </dt>
      <dd>
        {{ initAlgorithm.minSamplesSplit}}
      </dd>
    </dl>
    <dl class="row">
      <dt>min_samples_leaf: </dt>
      <dd>
        {{ initAlgorithm.minSamplesLeaf}}
      </dd>
    </dl>
    <dl class="row">
      <dt>max_features: </dt>
      <dd>
        {{ initAlgorithm.maxFeatures}}
      </dd>
    </dl>
    <dl class="row">
      <dt>criterion: </dt>
      <dd>
        {{ initAlgorithm.criterion}}
      </dd>
    </dl>
  </div>
</div>
