<div *ngIf="selectedAlgorithm.algoName === 'RandomForestClassifier' ">
  <app-tree-form [selectedDefaultAlgorithm]="selectedAlgorithm"></app-tree-form>
</div>
<div *ngIf="selectedAlgorithm.algoName === 'ExtraTreesClassifier'">
  <app-tree-form [selectedDefaultAlgorithm]="selectedAlgorithm"></app-tree-form>
</div>
<div *ngIf="selectedAlgorithm.algoName === 'MutualInformation'">
  <app-mutual-info-form></app-mutual-info-form>
</div>
<div *ngIf="selectedAlgorithm.algoName === 'LinearSVC'">
  <app-linear-svc-form></app-linear-svc-form>
</div>
<div *ngIf="selectedAlgorithm.algoName === 'XGBoostClassifier'">
  <app-xgboost-form></app-xgboost-form>
</div>
