<div class="card mb-2">
  <div class="card-header">
    Ranking Methods
  </div>
  <div class="card-body">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="average" id="flexCheckAverage" (change)="onSelectMethod($event)">
      <label class="form-check-label" for="flexCheckAverage">
        Average based
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="frequency" id="flexCheckFrequency" (change)="onSelectMethod($event)">
      <label class="form-check-label" for="flexCheckFrequency">
        Frequency based
      </label>
    </div>
  </div>
</div>
