<form [formGroup]="algorithmForm" >
  <div class="form-inline">
    <div class="form-group">
      <label for="maxIter">max_iter</label>
      <input type="number" id="maxIter" class="form-control mx-sm-3" formControlName="maxIter"
             aria-describedby="maxIterHelpLine">
      <small id="maxIterHelpLine" class="text-muted">
        Must be greater than 1.
      </small>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <label for="cPenalty">C penalty</label>
      <input type="number" id="cPenalty" class="form-control mx-sm-3" formControlName="cPenalty"
             aria-describedby="cHelpLine">
      <small id="cHelpLine" class="text-muted">
        ASd
      </small>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <label for="penalty">penalty</label>
      <input type="number" id="penalty" class="form-control mx-sm-3" formControlName="penalty"
             aria-describedby="penaltyHelpLine">
      <small id="penaltyHelpLine" class="text-muted">
        ASd
      </small>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <label for="tol">tol</label>
      <input type="number" id="tol" class="form-control mx-sm-3" formControlName="tol"
             aria-describedby="tolHelpLine">
      <small id="tolHelpLine" class="text-muted">
        ASd
      </small>
    </div>
  </div>
  <div class="row">
    <button type="submit" class="btn btn-primary">Add</button>
    <button type="button" class="btn btn-danger">Reset</button>
  </div>
</form>

