<!-- Button trigger modal -->
<a style="color: dodgerblue" data-toggle="modal" data-target="#modelParameterModal">
  Parameter Descriptions
</a>

<!-- Modal -->
<div class="modal fade" id="modelParameterModal" tabindex="-1" role="dialog" aria-labelledby="modelParameterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modelParameterModalLabel">Parameter Descriptions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <dl class="row">
            <dt class="col-sm-6">max_iter: int, default=1000</dt>
            <dd class="col-sm-12">
              The maximum number of iterations to be run.
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-6">C: float, default=1.0</dt>
            <dd class="col-sm-12">
              Regularization parameter. The strength of the regularization is inversely proportional to C. Must be strictly positive.
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-6">penalty: {{ "{" }}l1, l2{{ "}" }}, default=l1</dt>
            <dd class="col-sm-12">
              Specifies the norm used in the penalization. The ‘l2’ penalty is the standard used in SVC. The ‘l1’ leads to coef_ vectors that are sparse.
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-6">tol: float, default=0.0001</dt>
            <dd class="col-sm-12">
              Tolerance of stopping criteria.
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="algorithmForm" (ngSubmit)="onSubmit()" >
  <div class="form-inline mb-1">
    <input type="hidden" formControlName="name">
    <div class="form-group">
      <label for="maxIter">max_iter</label>
      <input type="number" id="maxIter" class="form-control mx-sm-3" formControlName="maxIter"
             aria-describedby="maxIterHelpLine">
      <small id="maxIterHelpLine" class="text-muted">
        Must be greater than 1.
      </small>
    </div>
  </div>
  <div class="form-inline mb-1">
    <div class="form-group">
      <label for="cPenalty">C penalty</label>
      <input type="number" id="cPenalty" class="form-control mx-sm-3" formControlName="cPenalty"
             aria-describedby="cHelpLine">
      <small id="cHelpLine" class="text-muted">
        ASd
      </small>
    </div>
  </div>
  <div class="form-inline mb-1">
    <div class="form-group">
      <label for="penalty">penalty</label>
      <select id="penalty" class="custom-select form-control mx-sm-3" formControlName="penalty">
        <option value="l1" selected>l1</option>
        <option value="l2">l2</option>
      </select>
    </div>
  </div>
  <div class="form-inline mb-1">
    <div class="form-group">
      <label for="tol">tol</label>
      <input type="number" id="tol" class="form-control mx-sm-3" formControlName="tol"
             aria-describedby="tolHelpLine">
      <small id="tolHelpLine" class="text-muted">
        ASd
      </small>
    </div>
  </div>
  <div *ngIf="!editMode" class="form-group">
    <button type="submit" class="btn btn-primary">Add</button>
    <button type="button" class="btn btn-danger" (click)="onReset()">Reset</button>
  </div>
  <div *ngIf="editMode" class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
