<form [formGroup]="algorithmForm" >
  <div class="form-inline">
    <div class="form-group">
      <label for="nEstimators">n_estimators</label>
      <input type="number" id="nEstimators" class="form-control mx-sm-3" formControlName="nEstimators"
        aria-describedby="nEstimatorsHelpLine">
      <small id="nEstimatorsHelpLine" class="text-muted">
        Must be greater than 1.
      </small>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <label for="maxDepth">max_depth</label>
      <input type="number" id="maxDepth" class="form-control mx-sm-3" formControlName="maxDepth"
             aria-describedby="maxDepthHelpLine">
      <small id="maxDepthHelpLine" class="text-muted">
        ASd
      </small>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <label for="maxDepth">min_samples_split</label>
      <input type="number" id="minSamplesSplit" class="form-control mx-sm-3" formControlName="minSamplesSplit"
             aria-describedby="minSamplesSplitHelpLine">
      <small id="minSamplesSplitHelpLine" class="text-muted">
        ASd
      </small>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <label for="maxDepth">min_samples_leaf</label>
      <input type="number" id="minSamplesLeaf" class="form-control mx-sm-3" formControlName="minSamplesLeaf"
             aria-describedby="minSamplesLeafHelpLine">
      <small id="minSamplesLeafHelpLine" class="text-muted">
        ASd
      </small>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <label for="maxFeatures">max_features</label>
      <input type="number" id="maxFeatures" class="form-control mx-sm-3" formControlName="maxFeatures"
             aria-describedby="maxFeaturesHelpLine">
      <small id="maxFeaturesHelpLine" class="text-muted">
        ASd
      </small>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <label for="criterion">criterion</label>
      <input type="number" id="criterion" class="form-control mx-sm-3" formControlName="criterion"
             aria-describedby="criterionHelpLine">
      <small id="criterionHelpLine" class="text-muted">
        ASd
      </small>
    </div>
  </div>
  <div class="row">
    <button type="submit" class="btn btn-primary">Add</button>
    <button type="button" class="btn btn-danger">Reset</button>
  </div>
</form>
