<!-- Button trigger modal -->
<a style="color: dodgerblue" data-toggle="modal" data-target="#modelParameterModal">
  Parameter Descriptions
</a>

<!-- Modal -->
<div class="modal fade" id="modelParameterModal" tabindex="-1" role="dialog" aria-labelledby="modelParameterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modelParameterModalLabel">Parameter Descriptions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <dl class="row">
            <dt class="col-sm-9">n_estimators: int, default=100</dt>
            <dd class="col-sm-12">
              The number of trees in the forest.
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-9">max_depth: int, default=None</dt>
            <dd class="col-sm-12">
              The maximum depth of the tree. If None, then nodes are expanded until all leaves are pure or until all leaves contain less than min_samples_split samples.
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-9">min_samples_split: int or float, default=2</dt>
            <dd class="col-sm-12">
              The minimum number of samples required to split an internal node.
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-9">min_samples_leaf: int or float, default=1</dt>
            <dd class="col-sm-12">
              The minimum number of samples required to be at a leaf node.
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-12">max_features: {{ "{" }}auto, sqrt, log2{{ "}" }}, default="auto"</dt>
            <dd class="col-sm-12">
              The number of features to consider when looking for the best split
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-9">criterion: {{ "{" }}gini, entropy{{"}"}}, default="gini"</dt>
            <dd class="col-sm-12">
              The function to measure the quality of a split. Supported criteria are “gini” for the Gini impurity and “entropy” for the information gain.
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="algorithmForm" >
  <div class="form-inline mb-1">
    <div class="form-group">
      <label for="nEstimators">n_estimators</label>
      <input type="number" id="nEstimators" class="form-control mx-sm-3" formControlName="nEstimators"
        aria-describedby="nEstimatorsHelpLine">
      <small id="nEstimatorsHelpLine" class="text-muted">
        Must be greater than 1.
      </small>
    </div>
  </div>
  <div class="form-inline mb-1">
    <div class="form-group">
      <label for="maxDepth">max_depth</label>
      <input type="number" id="maxDepth" class="form-control mx-sm-3" formControlName="maxDepth"
             aria-describedby="maxDepthHelpLine">
      <small id="maxDepthHelpLine" class="text-muted">
        ASd
      </small>
    </div>
  </div>
  <div class="form-inline mb-1">
    <div class="form-group">
      <label for="minSamplesSplit">min_samples_split</label>
      <input type="number" id="minSamplesSplit" class="form-control mx-sm-3" formControlName="minSamplesSplit"
             aria-describedby="minSamplesSplitHelpLine">
      <small id="minSamplesSplitHelpLine" class="text-muted">
        ASd
      </small>
    </div>
  </div>
  <div class="form-inline mb-1">
    <div class="form-group">
      <label for="minSamplesLeaf">min_samples_leaf</label>
      <input type="number" id="minSamplesLeaf" class="form-control mx-sm-3" formControlName="minSamplesLeaf"
             aria-describedby="minSamplesLeafHelpLine">
      <small id="minSamplesLeafHelpLine" class="text-muted">
        ASd
      </small>
    </div>
  </div>
  <div class="form-inline mb-1">
    <div class="form-group">
      <label for="maxFeatures">max_features</label>
      <input type="number" id="maxFeatures" class="form-control mx-sm-3" formControlName="maxFeatures"
             aria-describedby="maxFeaturesHelpLine">
      <small id="maxFeaturesHelpLine" class="text-muted">
        ASd
      </small>
    </div>
  </div>
  <div class="form-inline mb-1">
    <div class="form-group">
      <label for="criterion">criterion</label>
      <input type="number" id="criterion" class="form-control mx-sm-3" formControlName="criterion"
             aria-describedby="criterionHelpLine">
      <small id="criterionHelpLine" class="text-muted">
        ASd
      </small>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Add</button>
    <button type="button" class="btn btn-danger">Reset</button>
  </div>
</form>
