<div class="card">
  <div class="card-header">
    {{ initAlgorithm.algoName }}
    <button type="button" class="btn btn-success" (click)="onEdit()">Edit</button>
    <button type="button" class="btn btn-danger" (click)="onRemove()">Remove</button>
  </div>
  <div class="card-body">
    <dl class="row">
      <dt>eta: </dt>
      <dd>
        {{ initAlgorithm.eta }}
      </dd>
    </dl>
    <dl class="row">
      <dt >max_depth: </dt>
      <dd *ngIf="initAlgorithm.maxDepth !== null; else HasValue">
        {{ initAlgorithm.maxDepth }}
      </dd>
      <ng-template #HasValue>
        None
      </ng-template>
    </dl>
    <dl class="row">
      <dt class>min_child_weight: </dt>
      <dd>
        {{ initAlgorithm.minChildWeight }}
      </dd>
    </dl>
    <dl class="row">
      <dt>gamma: </dt>
      <dd>
        {{ initAlgorithm.gamma }}
      </dd>
    </dl>
    <dl class="row">
      <dt>subsample: </dt>
      <dd>
        {{ initAlgorithm.subsample }}
      </dd>
    </dl>
    <dl class="row">
      <dt>colsample_byTree: </dt>
      <dd>
        {{ initAlgorithm.colsampleByTree }}
      </dd>
    </dl>
    <dl class="row">
      <dt>alpha: </dt>
      <dd>
        {{ initAlgorithm.alpha }}
      </dd>
    </dl>
  </div>
</div>

